<!DOCTYPE html>
<html>
	<head>
		<title>Pirate Barrr!</title>
	</head>
		<body>
		<img src='static/Pirate.PNG' style="width:304px;height:428px">
		<form action="Bar" method="POST"><br>
		CHOOSE YER LIKINGS argh!!!<br>
			<input type="checkbox" name="my_choice" value="strong"> I like me drinks strong!<br>
  			<input type="checkbox" name="my_choice" value="salty"> I like it with a salty tang<br>
  			<input type="checkbox" name="my_choice" value="bitter"> I am a lubber and likes it bitter<br>
  			<input type="checkbox" name="my_choice" value="sweet"> I prefer a bit of sweetness with me poison<br>
  			<input type="checkbox" name="my_choice" value="fruity"> I am one for a fruity finish<br>
  			<input type="submit" value="Submit">
      		
		</form>
		</body>
		</html>
